<app-modal-array [showForm]="ouvrir" >
  <div class="min-h-[40vh] flex items-left flex-col p-4 gap-4 mono-sans-thin">
    <div>
      <h1 class="font-bold text-3xl">
        <span class="uppercase"> à </span>la recherche de :
      </h1>
    </div>
    <div class="p-4 flex items-left flex-col text-xl gap-4"> 
      <div>
        <h1 class="font-bold text-2xl">{{data.titre}}</h1>
      </div>
      <div>
        <h1 class="rounded-xl border h-fit w-fit p-3 border-gray-600">
          {{data.domaine.nom}}
        </h1>
      </div>
      <div>
        <h1>Qualifications:</h1>
        <span>-{{data.qualifications}}</span>
      </div>
      <div>
        <h1>Expériences requise:</h1>
        <span>-{{data.experienceRequise}} année</span>
      </div>
      <div>
        <h1>Descriptions:</h1>
        <span class="text-md font-semibold">-{{data.description}}</span>
      </div>
      <div>Date de création:{{data.dateCreation}}</div>
    </div>
  </div>
</app-modal-array>
