<!-- <main class="flex  items-center"> -->
<div
  id="Main"
  class="mono-sans-thin xl:rounded-r transform xl:translate-x-0 ease-in-out transition duration-500 flex justify-start items-start h-[100vh] w-full sm:w-64 bg-white shadow-md flex-col border-b"
>
  <div class="hidden xl:flex justify-start p-6 w-full items-center space-x-3 border-b">
    <mat-icon class="text-indigo-400">settings</mat-icon>
    <p class="text-2xl leading-6 text-black">Le vignoble</p>
  </div>
  <div class="flex flex-col justify-start items-center px-6  py-2 border-gray-600 w-full">
    <app-menu-title label="Bilan"></app-menu-title>
      <app-menu-li label="Compte de résultat" link="result"></app-menu-li>
      <app-menu-li label="Bilan" link="bilan"></app-menu-li>
      <app-menu-li label="Indicateur financier" link="indicateur-financier"></app-menu-li>
      <app-menu-li label="Formulaire des états financiers" link="form-financier"></app-menu-li>
      <app-menu-li label="Formulaire compte de résultats" link="form-compte-result"></app-menu-li>
  </div>
  <div class="flex flex-col justify-between items-center h-full pb-6 px-6 w-full space-y-32">
    <app-menu-title label="Services"></app-menu-title>
    <app-avatar></app-avatar>
  </div>
</div>
<!-- <div class="h-[100vh] w-full p-2">
    <div class="rounded-xl shadow-xl border w-full h-full">
    </div>
</div> -->
<!-- </main> -->