<form [formGroup]="form2" (ngSubmit)="onSubmit()" class="w-full">
    <div
      formArrayName="xp"
      class="w-full flex justify-center items-center flex-col gap-3"
    >
      <div *ngFor="let item of xp.controls;let i=index"  class="w-full flex justify-center items-center flex-col gap-3 border p-3 rounded-3xl" [formGroupName]="i">
        <div class="grid grid-cols-2 gap-4 w-full">
          <div formGroupName="domaine">
            <app-select-rounded formControlName="domaineId"
            [options]="assets.domaines"
            [valueKey]="'domaineId'"
            [labelKey]="'nom'"
            label="Domaine"
            [disabled]="disabled"
            placeholder="Choisissez le domaine"></app-select-rounded>
          </div>
          <app-input-d-square formControlName="titrePoste" [disabled]="disabled" label="Poste"></app-input-d-square>
        </div>
        <div class="grid grid-cols-2 gap-4 w-full">
          <app-input-d-square formControlName="entreprise" [disabled]="disabled" label="Entreprise"></app-input-d-square>
          <app-input-d-square formControlName="description" [disabled]="disabled" label="Description"></app-input-d-square>
        </div>
        <div class="grid grid-cols-2 gap-4 w-full">
          <app-input-d-square formControlName="dateDebut"  [disabled]="disabled" label="Date début" type="date"></app-input-d-square>
          <app-input-d-square formControlName="dateFin" [disabled]="disabled" label="Date fin" type="date"></app-input-d-square>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4 w-full">
      <app-submit-button label="Suivant"></app-submit-button>
      <app-button label="Ajouter une expérience"
      (click)="addXp()"></app-button>
    </div>
  </form>
  