<div class="w-full h-[99%] ">
    <div class="w-full h-full flex flex-col justify-center items-center ">
        <div class="rounded-xl overflow-y-scroll w-[90%] h-[80%]">
            <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="label">
                    <mat-header-cell *matHeaderCellDef class="mono-sans-thin"> Rubrique </mat-header-cell>
                    <mat-cell *matCellDef="let element" [ngClass]="{ 'important-rubrique': element.isImportant }">
                        {{ element.label }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="amount">
                    <mat-header-cell *matHeaderCellDef class="mono-sans-thin"> Montant ($) </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mono-sans-thin">
                        {{ element.amount | number: '1.2-2' }} <!-- Formater le montant -->
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        
            </mat-table>
        </div>
    </div>
</div>