<div class="grid grid-cols-1 gap-4 w-[100%] h-[90vh] mono-sans-thin p-2">
    <div
      class="flex justify-around gap-8 items-center h-[45vh] flex-col rounded-3xl shawdow-xl border p-3"
    >
      <div>
        <span class="text-3xl">Candidats finaux</span>
      </div>
      <div class="w-full">
        <app-candidat-finaux></app-candidat-finaux>
          <!-- <app-candidate-ok (childEvent)="receiveId($event)"></app-candidate-ok> -->
        <!-- <app-alter-profil class=" " [disabled]="disabled"></app-alter-profil> -->
      </div>
      <div></div>
    </div>
    <div
      class="flex justify-around gap-8 items-center h-[45vh] flex-col rounded-3xl shawdow-xl border p-3"
    >
      <div>
        <span class="text-3xl">Candidats en cours d'entretiens</span>
      </div>
      <div class="w-full">
        <app-candidats-guests></app-candidats-guests>
          <!-- <app-candidate-ok (childEvent)="receiveId($event)"></app-candidate-ok> -->
        <!-- <app-alter-profil class=" " [disabled]="disabled"></app-alter-profil> -->
      </div>
      <div></div>
    </div>
    <app-candidatures-details></app-candidatures-details>
  </div>
  