<div class="flex justify-between items-center w-full">
    <div class="flex justify-center items-center space-x-2">
      <div>
        <img
          class="rounded-full"
          src="https://i.ibb.co/L1LQtBm/Ellipse-1.png"
          alt="avatar"
        />
      </div>
      <div class="flex justify-start flex-col items-start">
        <p class="cursor-pointer text-sm leading-5 text-black">
          Alexis Enache
        </p>
        <p class="cursor-pointer text-xs leading-3 text-gray-300">
          alexis81gmail.com
        </p>
      </div>
    </div>
    <mat-icon class="text-gray-400">settings</mat-icon>
  </div>