<div class="w-full h-full flex flex-col items-center shadow-xl border p-8 px-20 gap-10 overflow-y-scroll">
    <div>
        <h1 class="text-3xl">Bilan de l'entreprise</h1>
    </div>
    <form [formGroup]="formGroup" class="w-full flex justify-between items-center" (ngSubmit)="onSubmit()">
        <div class="w-full">

            <app-select-rounded
                    formControlName="idEntreprise"
                    [options]="entreprises"
                    valueKey="idEntreprise"
                    labelKey="nom"
                    [disabled]="false"
                    label="Entreprise"
                    placeholder="Choisissez l'entreprise"
            ></app-select-rounded>
            <app-select-rounded
                    formControlName="idAnnee"
                    [options]="annees"
                    [valueKey]="'idAnnee'"
                    [disabled]="false"
                    [labelKey]="'annee'"
                    label="Année"
                    placeholder="Choisissez l'année"
            ></app-select-rounded>
            <app-submit-button label="Rechercher"></app-submit-button>
        </div>
    </form>
    <div class="w-full grid grid-cols-2 gap-6" *ngIf="bilan!=undefined">
        <div class="col-span-1 flex flex-col gap-6">
            <app-mini-tab-bilan title="Actifs courants" [data]="bilan.ActifCourant"></app-mini-tab-bilan>
            <app-mini-tab-bilan title="Actifs immobilisés" [data]="bilan.ActifImmobilise"></app-mini-tab-bilan>
        </div>
        <div class="col-span-1 flex flex-col gap-6">
            <app-mini-tab-bilan title="Passifs" [data]="bilan.Passif" ></app-mini-tab-bilan>
            <app-mini-tab-bilan title="Passifs non courants" [data]="bilan.PassifNonCourant"></app-mini-tab-bilan>
            <app-mini-tab-bilan title="Capitaux propres" [data]="bilan.CapitauxPropres"></app-mini-tab-bilan>
        </div>
        <div class="col-span-2">
            -Total Actif: {{calculateTotalActifs() }}
            -Total Passifs: {{calculateTotalPassifs() }}
        </div>
    </div>
</div>
