<form [formGroup]="form3" (ngSubmit)="onSubmit()" class="w-full">
  <div
    formArrayName="diplomes"
    class="w-full flex justify-center items-center flex-col gap-3"
  >
    <div
      *ngFor="let item of diplomes.controls; let i = index"
      class="w-full flex justify-center items-center flex-col gap-3 border p-3 rounded-3xl"
      [formGroupName]="i"
    >
      <app-input-control class="w-full" label="Niveau" formControlName="niveau"></app-input-control>
      <div class="grid grid-cols-2 gap-4 w-full">
        <app-select-rounded formControlName="domaineId"
          [options]="assets.domaines"
          [valueKey]="'domaineId'"
          [labelKey]="'nom'"
          label="Domaine"
          placeholder="Choisissez le domaine"></app-select-rounded>
        <app-input-control label="Date obtention" type="date" formControlName="dateObtention"></app-input-control>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4 w-full">
    <app-submit-button label="Valider"></app-submit-button>
    <app-submit-button
      label="Ajouter un diplôme"
      (click)="addDiploma()"
    ></app-submit-button>
  </div>
</form>
