<main class="w-[100vw] h-[100vh] grid grid-cols-2 gap-8 roboto-thin">
    <div class="flex justify-end items-center">
        <div class="w-2/3 h-2/3 rounded-3xl overflow-hidden">
            <img src="image1.jpg" alt="" class="w-full h-full object-cover">
        </div>
        
    </div>
    <div class="flex justify-begin px-9 max-h-[100vh] overflow-y-scroll items-center">
        <div class=" w-2/3 min-h-[66%] h-auto rounded-3xl  flex items-begin flex-col gap-8">
            <h1 class="text-3xl text-[#0018ec69] ">{{shortDesc}}</h1>
            <ng-content></ng-content>
            
            <!-- <form class="w-full flex items-center flex-col gap-8" action="{{action}}">
            
                <ng-content>

                </ng-content>
                <div class="flex justify-between items-center w-full">                  
                    <input type="submit" value="Valider" class="bg-[#0018ec69] h-[2vw] px-4 rounded-lg text-white font-bold cursor-pointer">
                    <a href="{{linkTo}}" class="text-[#0018ec69] text-xl">{{bottomLink}}</a>
                </div>
            </form> -->
        </div>
    </div>
</main>