<app-form-template shortDesc="Ajoutez une unité d'oeuvre">
    <form class="w-full flex items-center flex-col gap-8" (ngSubmit)="onSubmit()">
        <input type="hidden" name="id" [(ngModel)]="id">
        <app-input label="Nom de l'unité*" id="uo-input" type="text" [(value)]="uoName"></app-input>
        <div class="flex justify-between items-center w-full">                  
            <input type="submit" value="Valider" class="bg-[#0018ec69] h-[2vw] px-4 rounded-lg text-white font-bold cursor-pointer">
            <p *ngIf="isUpdate == true" class="text-[#0018ec69] text-xl" (click)="isUpdate=!isUpdate;id=undefined">Ajouter un élément</p>
            <a (click)="showForm=!showForm" class="text-[#0018ec69] text-xl">Voir la liste des unités.</a>
        </div>
    </form>
</app-form-template>

<app-modal-array nom="unités d'oeuvres" [showForm]="showForm">
    <table class="w-full border table-auto">
        <thead
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
        >
          <tr>
            <th class="th-des py-4">Nom</th>
            <th class="th-des py-4">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of all">
            <ng-container>
              <td>{{item.nomUniteMesure}}</td><td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 flex justify-around">
                <button (click)="delete(item.idUniteMesure); $event.stopPropagation()" class="text-red-500">delete</button>
                <button (click)="update(item.idUniteMesure) ; showForm=!showForm" class="text-purple-500">edit</button>
            </td>
            </ng-container>
            <!-- <app-td-ge>  </app-td-ge> -->
            <!-- <app-input type="text"></app-input> -->
          </tr>
        </tbody>
      </table>
</app-modal-array>