<!-- <header class="w-full fixed flex items-center justify-center h-[10vh] " style="pointer-events: none;">
  <nav class="w-11/12 flex items-center justify-between " style="pointer-events: auto;">
    <span class="logo text-3xl">LE VIGNOBLE</span>
    <div class="flex w-1/4 text-xl font-semibold justify-end">
      <div
        class="group w-auto p-2 h-[2.5vw] bg-white px-6 rounded-full flex justify-between items-center gap-3 duration-700 ease-in-out hover:bg-white cursor-pointer" (click)="changePoseState=!changePoseState"
      >
          <span class="roboto-regular">MENU</span>
          <span
            class="w-auto h-auto flex justify-center items-center gap-1 group-hover:rotate-90 transition-transform duration-500 ease-in-out"
          >
            <span class="w-[.36em] h-[.36em] rounded-full bg-black"> </span>
            <span class="w-[.36em] h-[.36em] rounded-full bg-black"> </span>
          </span>
      </div>
    </div>
  </nav>
</header> -->
<!-- <app-second-menu [linksAndLabels]="currentMenu" class="transition-all duration-700 ease-in-out " [ngClass]="{'initial-pos ':!changePoseState , 'clicked-pos':changePoseState }"></app-second-menu> -->
<!-- <app-second-menu [linksAndLabels]="initialMenu" class="transition-all duration-700 ease-in-out " [ngClass]="{'initial-pos':!changePoseState , 'clicked-pos':changePoseState }"></app-second-menu> -->
<!-- <app-second-menu [linksAndLabels]="initialMenu" class="transition-all duration-700 ease-in-out " [ngClass]="{'initial-pos':!changePoseState , 'clicked-pos':changePoseState }"></app-second-menu> -->
<!-- justify-center items-center hidden group-hover:flex transition-opacity duration-500 -->
