<h1>{{ title }}</h1>
<div class="w-full rounded-xl overflow-hidden">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="label">
            <mat-header-cell *matHeaderCellDef class="mono-sans-thin"> Rubrique </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.label }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef class="mono-sans-thin"> Montant ($) </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mono-sans-thin"> {{ element.amount }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'red-row': row.isBold }"></mat-row>


    </mat-table>
</div>