<mat-expansion-panel   class="p-3 w-[800px]">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="bg-gray-200 rounded-full p-3 flex justify-center items-center">
                <mat-icon class="text-white rounded-full ">add</mat-icon>
            </div>
        </mat-panel-title>
        <mat-panel-description>
           Marge nette a un ratio de 12.5
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="flex justify-center items-begin flex-col gap-4">
        <h1 class="text-xl">Interpretation</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aspernatur corporis inventore, molestiae quidem similique soluta unde voluptatem voluptatibus. Cum dolore, error nisi officia quas qui quidem repellat rerum?</p>
    </div>
    <div class="flex justify-center items-begin flex-col gap-4 mt-3">
        <h1 class="text-xl">Solution</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aspernatur corporis inventore, molestiae quidem similique soluta unde voluptatem voluptatibus. Cum dolore, error nisi officia quas qui quidem repellat rerum?</p>
    </div>
</mat-expansion-panel>