
<mat-expansion-panel   class="p-3 w-[800px]">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="bg-gray-200 rounded-full p-3 flex justify-center items-center">
                <mat-icon class="text-white rounded-full ">add</mat-icon>
            </div>
        </mat-panel-title>
        <mat-panel-description>
           {{ indicator.label }} a un ratio de {{ indicator.ratio }}
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="flex justify-center items-begin flex-col gap-4">
        <h1 class="text-xl">Interpretation</h1>
        <p>{{ indicator.interpretation }}</p>
    </div>
    <div class="flex justify-center items-begin flex-col gap-4 mt-3">
        <h1 class="text-xl">Solution</h1>
        <p>{{ indicator.solution }}</p>
    </div>
</mat-expansion-panel>