<div
  class="flex justify-around gap-8 items-center h-full flex-col rounded-3xl shadow-xl border p-3"
>
  <div>
    <span class="text-3xl">Faire une annonce</span>
  </div>

  <div class="w-[40vw]">
    <form class="w-full flex justify-center items-center flex-col gap-3" [formGroup]="poste" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-2 gap-2 w-full">
        <app-input-control
          class="w-full"
          label="Titre"
          formControlName="titre"
          placeholder=""
        ></app-input-control>
        <app-input-control
          class="w-full"
          label="Description"
          formControlName="description"
        ></app-input-control>
      </div>
      <div class="grid grid-cols-2 gap-2 w-full">
        <app-input-control
          class="w-full"
          formControlName="qualifications"
          label="Qualifications requises"
        ></app-input-control>
        <app-select-rounded 
          [options]="assets.domaines"
          [valueKey]="'domaineId'"
          [labelKey]="'nom'"
          label="Domaine"
          formControlName="domaineId"
          placeholder="Choisissez le domaine"></app-select-rounded>
      </div>
      <div class="grid grid-cols-2 gap-2 w-full">
        <app-input-control class="w-full" label="Expertise" formControlName="experienceRequise"></app-input-control>
        <app-input-control
          class="w-full"
          label="Date de l'annonce"
          type="date"
          formControlName="dateCreation"
        ></app-input-control>
      </div>
      <app-submit-button class="w-full" label="Valider"></app-submit-button>
    </form>
  </div>
  <div></div>
</div>
