<div class="grid grid-cols-1 gap-4 w-[100%] h-[90vh] mono-sans-thin p-2">
  <div
    class="flex justify-around gap-8 items-center h-[45vh] flex-col rounded-3xl shawdow-xl border p-3"
  >
    <div>
      <span class="text-3xl">Nos meilleurs candidats</span>
      <span><app-submit-button label="Notifier ces candidats"></app-submit-button> </span>
    </div>
    <div class="w-full">
        <app-candidate-ok (childEvent)="receiveId($event)"></app-candidate-ok>
      <!-- <app-alter-profil class=" " [disabled]="disabled"></app-alter-profil> -->
    </div>
    <div></div>
  </div>
  <div class="grid grid-cols-2 gap-4 h-[95vh]">
    <div
      class="max-h-[47.5vh] h-[47.5vh] col-span-1 w-full overflow-y-scroll flex justify-around items-center flex-col gap-8 rounded-3xl shawdow-xl border p-3"
    >
      <div>
        <span class="text-3xl">Liste des candidats ayant passé le test</span>
      </div>
      <div class="w-full">
        <app-candidate-ok (childEvent)="receiveId($event)"></app-candidate-ok>
        <!-- <app-alter-xp ></app-alter-xp> -->
      </div>
      <div></div>
    </div>
    <div
      class="max-h-[47.5vh] h-[47.5vh] col-span-1 w-full overflow-y-scroll flex justify-around items-center flex-col gap-8 rounded-3xl shawdow-xl border p-3"
    >
      <div>
        <span class="text-3xl"> Candidats invités aux tests</span>
      </div>
      <div class="w-full">
        <app-candidate (childEvent)="receiveId($event)"></app-candidate>
        <!-- <app-alter-diploma ></app-alter-diploma> -->
      </div>
    </div>
  </div>
  <app-candidatures-details></app-candidatures-details>
</div>
