<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <app-input-d-square
    class="w-full"
    label="First Name"
    formControlName="nom"
    [disabled]="disabled"
  ></app-input-d-square>

  <app-input-d-square
    class="w-full"
    label="Name"
    formControlName="prenom"
    [disabled]="disabled"
  ></app-input-d-square>

  <app-input-d-square
    class="w-full"
    label="E-mail"
    formControlName="email"
    [disabled]="disabled"
    placeholder=""
  ></app-input-d-square>

  <app-input-d-square
    class="w-full"
    label="Password"
    formControlName="motDePasse"
    [disabled]="disabled"
  ></app-input-d-square>

  <app-submit-button class="w-full" label="Suivant"></app-submit-button>
</form>
