<main
  class="grid grid-cols-2 h-[90vh] w-[75vw] rounded-3xl overflow-hidden border shadow-xl"
>
  <div class="w-full h-[90vh] overflow-hidden">
    <img src="image1.jpg" alt="" class="w-full h-full object-cover" />
  </div>
  <div class="p-4 h-[90vh] flex justify-center items-center mono-sans-thin">
    <div class="w-full h-[90%] flex justify-between items-center flex-col">
      <div>
        <span class="logo text-3xl">LE VIGNOBLE</span>
      </div>
      <div class="w-[80%]">
        <form
          action=""
          class="flex justify-center items-center gap-[5vh] flex-col"
        >
          <div class="text-3xl flex justify-center items-center flex-col gap-3">
            <h1>Hello dear admin</h1>
            <h1>Welcome to Vignoble Recruitement</h1>
          </div>
          <app-signin></app-signin>
        </form>
      </div>
      <div></div>
    </div>
  </div>
</main>
