<div class="w-full h-full flex flex-col items-center shadow-xl border p-8 px-20 gap-10 overflow-y-scroll">
    <div>
        <h1 class="text-3xl">Indicateur financier</h1>
    </div>
    <form [formGroup]="formGroup" class="w-full flex justify-between items-center" (ngSubmit)="onSubmit()">
        <app-select-rounded
                formControlName="idEntreprise"
                [options]="entreprises"
                valueKey="idEntreprise"
                labelKey="nom"
                [disabled]="false"
                label="Entreprise"
                placeholder="Choisissez l'entreprise"
        ></app-select-rounded>
        <app-select-rounded
                formControlName="idAnnee"
                [options]="annees"
                [valueKey]="'idAnnee'"
                [disabled]="false"
                [labelKey]="'annee'"
                label="Année"
                placeholder="Choisissez l'année"
        ></app-select-rounded>
        <app-submit-button label="Valider"></app-submit-button>
    </form>
    <div class="w-full flex flex-col gap-4 justify-between items-center">
        <div *ngIf="isLoading" class="cssload-container">
            <div class="cssload-speeding-wheel"></div>
        </div>
        <app-collapsible *ngFor="let res of result" [indicator]="res"></app-collapsible>
    </div>
</div>
