<div class="w-full h-full flex flex-col justify-center items-center">
    <div class="rounded-xl overflow-hidden w-[90%]">
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
        <!-- ID Column -->
        <ng-container matColumnDef="candidatureId">
          <mat-header-cell *matHeaderCellDef class="mono-sans-thin"> Id </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.candidatureId }}</mat-cell>
        </ng-container>
  
        <!-- Candidate Column -->
        <ng-container matColumnDef="candidat">
          <mat-header-cell *matHeaderCellDef class="mono-sans-thin"> Candidat </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.candidat.nom }} {{ element.candidat.prenom }}</mat-cell>
        </ng-container>
  
        <!-- Job Title Column -->
        <ng-container matColumnDef="poste">
          <mat-header-cell *matHeaderCellDef class="mono-sans-thin"> Poste </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.poste.titre }}</mat-cell>
        </ng-container>
  
        <!-- Date of Application Column -->
        <ng-container matColumnDef="dateCandidature">
          <mat-header-cell *matHeaderCellDef class="mono-sans-thin"> Date de Candidature </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.dateCandidature }}</mat-cell>
        </ng-container>
  
        <!-- Status Column -->
        <ng-container matColumnDef="statut">
          <mat-header-cell *matHeaderCellDef class="mono-sans-thin"> Statut </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.statut }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="note">
          <mat-header-cell *matHeaderCellDef class="mono-sans-thin"> note </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.note }}</mat-cell>
        </ng-container>
  
        <!-- Action Column (Buttons) -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="mono-sans-thin"> Actions </mat-header-cell>
          <mat-cell *matCellDef="let element" class="flex justify-around">
            <button mat-button (click)="openDetails(element); ouvrir = !ouvrir" class="underline">Détails</button>
            <button mat-button (click)="getCv(element.candidatId); ouvrirForm = !ouvrirForm" class="underline">Faire passer un test</button>
          </mat-cell>
        </ng-container>
  
        <!-- Header and Rows -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <!-- Paginator -->
      <mat-paginator
        [length]="data.length"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="pageEvent($event)"
      ></mat-paginator>
      <app-candidatures-details *ngIf="cv" [cv]="cv"></app-candidatures-details>
      <app-form-date></app-form-date>
    </div>
    
  </div>
 
  