<div class="w-full h-full flex flex-col justify-center items-center ">
  <div class="rounded-xl overflow-hidden w-[90%] ">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="posteId">
        <mat-header-cell *matHeaderCellDef class="mono-sans-thin"> ID </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.posteId }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="description" class="mono-sans-thin">
        <mat-header-cell *matHeaderCellDef class="mono-sans-thin"> Descriptions </mat-header-cell>
        <mat-cell *matCellDef="let element" class="mono-sans-thin">{{ element.description }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="qualifications" class="mono-sans-thin">
        <mat-header-cell *matHeaderCellDef class="mono-sans-thin"> Qualifications </mat-header-cell>
        <mat-cell *matCellDef="let element" class="mono-sans-thin">{{ element.qualifications }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="experienceRequise" class="mono-sans-thin">
        <mat-header-cell *matHeaderCellDef class="mono-sans-thin"> Expertise </mat-header-cell>
        <mat-cell *matCellDef="let element" class="mono-sans-thin">{{ element.experienceRequise }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="titre" class="mono-sans-thin">
        <mat-header-cell *matHeaderCellDef class="mono-sans-thin"> Titre </mat-header-cell>
        <mat-cell *matCellDef="let element" class="mono-sans-thin">{{ element.titre }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="domaine" class="mono-sans-thin">
        <mat-header-cell *matHeaderCellDef class="mono-sans-thin"> Domaines </mat-header-cell>
        <mat-cell *matCellDef="let element" class="mono-sans-thin">{{ element.domaine.nom }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="dateCreation">
        <mat-header-cell *matHeaderCellDef class="mono-sans-thin"> Date de création </mat-header-cell>
        <mat-cell *matCellDef="let element" class="mono-sans-thin">{{
          element.dateCreation
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="mono-sans-thin"> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element" class="mono-sans-thin flex justify-around">  
          <button mat-button (click)="detailsPostes(element.posteId);ouvrir=!ouvrir" class="underline">Détails</button>
          <button mat-button class="underline">Postuler</button>
          <button mat-button (click)="route.navigate(['/candidatures/',element.posteId])" class="underline">Candidatures</button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator
    [length]="data.length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="pageEvent($event)"
    >
  </mat-paginator>
  <app-details-poste [ouvrir]="ouvrir" [data]="detailsPoste"></app-details-poste>
  </div>
</div>