<form [formGroup]="form2" (ngSubmit)="onSubmit()" class="w-full">
  <div
    formArrayName="experiences"
    class="w-full flex justify-center items-center flex-col gap-3"
  >
    <div *ngFor="let item of experiences.controls;let i=index"  class="w-full flex justify-center items-center flex-col gap-3 border p-3 rounded-3xl" [formGroupName]="i">
      <div class="grid grid-cols-2 gap-4 w-full">
        <!-- <app-input-control label="Domaine"></app-input-control> -->
         <!-- <app-select-rounded formControlName="poste"
          [options]="assets.postes"
          [valueKey]="'posteId'"
          [labelKey]="'titre'"
          label="Poste"
          placeholder="Choisissez un poste"></app-select-rounded> -->
          <app-input-control label="Poste" formControlName="titrePoste"></app-input-control>
          <app-select-rounded formControlName="domaineId"
          [options]="assets.domaines"
          [valueKey]="'domaineId'"
          [labelKey]="'nom'"
          label="Domaine"
          placeholder="Choisissez le domaine"></app-select-rounded>
      </div>
      <div class="grid grid-cols-2 gap-4 w-full">
        <app-input-control label="Entreprise" formControlName="entreprise"></app-input-control>
        <app-input-control label="Description" formControlName="description"></app-input-control>
      </div>
      <div class="grid grid-cols-2 gap-4 w-full">
        <app-input-control label="Date début" type="date" formControlName="dateDebut"></app-input-control>
        <app-input-control label="Date fin" type="date" formControlName="dateFin"></app-input-control>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4 w-full">
    <app-submit-button label="Suivant"></app-submit-button>
    <app-button label="Ajouter une expérience"
    (click)="addXp()"></app-button>
  </div>
</form>
